#div1tab1{border-style:none;height:160px;width:100%;background-color:#1b2f5e;}
#div1img1{height:50px;width:75px;position:relative;left:30px;top:30px;}

#div1keralatourism{position:relative;left:36px;top:10px;color:white;font-size:25px;}
#div1org{color:yellow;}
#div1welcomgodowncountry{position:relative;left:115px;top:2px;color:white;}

#div1txt1{position:relative;left:990px;top:60px;color:white;}
#div1txt2{position:relative;left:722px;top:60px;color:white;}
#div1txt3{position:relative;left:468px;top:60px;color:white;}
#div1txt4{position:relative;left:208px;top:60px;color:white;}

#div1txt5{position:relative;right:70px;top:60px;color:white;}
#div1txt6{position:relative;right:327px;top:60px;color:white;}
#div1txt7{position:relative;right:625px;top:60px;color:white;}

#div1img2{position:relative;left:225px;top:65px;height:21px;width:33px;}

#div1tab2{border-style:none;height:27px;width:100px;position:relative;left:1265px;bottom:81px;font-size:15px;background-color:black;}
#div1txt8{position:relative;top:4px;left:4px;color:white;}

#div1tab3{border-style:none;height:27px;width:40px;position:relative;left:1225px;bottom:108px;font-size:15px;background-color:#13a0cf;}
#div1txt9{position:relative;top:4px;left:8px;color:white;}

#div1txt10{position:relative;left:950px;bottom:160px;color:white;}
#div1txt11{position:relative;left:430px;bottom:160px;color:white;}

#div1img3{position:relative;left:823px;bottom:92px;height:43px;width:45px;}
#div1img4{position:relative;left:725px;bottom:95px;height:37px;width:39px;}
#div1img5{position:relative;left:632px;bottom:95px;height:38px;width:39px;}
#div1img6{position:relative;left:527px;bottom:93px;height:41px;width:57px;}
#div1img7{position:relative;left:418px;bottom:89px;height:47px;width:50px;}
#div1img8{position:relative;left:310px;bottom:90px;height:46px;width:49px;}
#div1img9{position:relative;left:210px;bottom:93px;height:38px;width:39px;}

#lengthimage1{position:relative;height:440px;width:100%;}

#div2tab1{border-style:none;height:790px;width:100%;background-color:#edf0ef;}
#div2txt1{position:relative;left:550px;top:50px;color:#170063;font-size:35px;}

#div2tab2{position:relative;left:40px;top:115px;border-bottom-style:solid;background-image:url("cusine3.jpg");height:450px;width:320px;
background-size:cover;border-width:15px;border-color:#e8d331;}
#div2tab2hovertxt1{opacity:0;}
#div2tab2:hover #div2tab2hovertxt1{height:450px;width:320px;background-color:#e8d331;opacity:0.7;}
#div2tab2hovertxt1font1{position:relative;left:20px;top:70px;font-size:22px;color:black;}

#div2tab3{position:relative;left:370px;bottom:350px;border-bottom-style:solid;background-image:url("village 1.jpg");height:450px;width:320px;
background-size:cover;border-width:15px;border-color:#0ad106;}
#div2tab3hovertxt2{opacity:0;}
#div2tab3:hover #div2tab3hovertxt2{height:450px;width:320px;background-color:#0ad106;opacity:0.7;}
#div2tab3hovertxt2font2{position:relative;left:34px;top:70px;font-size:22px;color:black;}

#div2tab4{position:relative;left:700px;bottom:815px;border-bottom-style:solid;background-image:url("kayakking-01.jpg");height:450px;width:320px;
background-size:cover;border-width:15px;border-color:#663030;}
#div2tab4hovertxt3{opacity:0;}
#div2tab4:hover #div2tab4hovertxt3{height:450px;width:320px;background-color:#663030;opacity:0.7;}
#div2tab4hovertxt3font3{position:relative;left:34px;top:70px;font-size:22px;color:black;}

#div2tab5{position:relative;left:1030px;bottom:1280px;border-bottom-style:solid;background-image:url("pooram.jpg");height:450px;width:320px;
background-size:cover;border-width:15px;border-color:#187d9e;}
#div2tab5hovertxt4{opacity:0;}
#div2tab5:hover #div2tab5hovertxt4{height:450px;width:320px;background-color:#187d9e;opacity:0.7;}
#div2tab5hovertxt4font4{position:relative;left:34px;top:70px;font-size:22px;color:black;}

#div2leftarrow{position:relative;height:100px;width:50px;bottom:1570px;left:40px;opacity:0.5;}
#div2leftarrow:hover{opacity:1;height:100px;width:50px;}

#div2rightarrow{position:relative;height:100px;width:50px;bottom:1570px;left:1245px;opacity:0.5;}
#div2rightarrow:hover{opacity:1;height:100px;width:50px;}

#div2txt2keralacuisine{position:relative;right:40px;bottom:1440px;font-size:32px;color:white}
#div2txt3villagelife{position:relative;left:40px;bottom:1440px;font-size:32px;color:white}
#div2txt4backwaters{position:relative;left:150px;bottom:1440px;font-size:32px;color:white}
#div2txt5festivals{position:relative;left:280px;bottom:1440px;font-size:32px;color:white}

#div2tab6{position:relative;border-style:none;height:55px;width:356px;bottom:1330px;left:500px;background-color:#1b2f5e;}
#div2txt6{position:relative;left:20px;top:10px;font-size:23px;color:white;}
#findmorexprince{position:relative;height:24px;width:20px;left:26px;top:15px;}



#div3tab1{border-style:none;height:855px;width:100%;background-color:#d5e0e8;}
#div3tab2top_destination{position:relative;left:570px;bottom:200px;font-size:35px;}

#div3img1{position:relative;right:209px;top:148px;height:280px;width:320px;}
#div3tab2{border-style:none;position:relative;height:50px;width:320px;top:90px;left:45.5px;background-color:black;opacity:0.5;}
#div3aralam_wild_sanctuary{position:relative;left:75px;bottom:210px;color:white;font-size:23px}

#div3img2{position:relative;left:112px;bottom:190px;height:280px;width:320px;}
#div3tab3{border-style:none;position:relative;height:50px;width:319.5px;bottom:246px;left:370.5px;background-color:black;opacity:0.5;}
#div3thusaragiri_waterfalls{position:relative;left:413px;bottom:545px;color:white;font-size:23px}

#div3img3{position:relative;left:464px;bottom:526px;height:280px;width:320px;}
#div3tab4{border-style:none;position:relative;height:50px;width:320px;bottom:582px;left:696.5px;background-color:black;opacity:0.5;}
#div3Napier_Museum{position:relative;left:783px;bottom:883px;color:white;font-size:23px}

#div3img4{position:relative;left:864px;bottom:862px;height:280px;width:320px;}
#div3tab5{border-style:none;position:relative;height:50px;width:320px;bottom:918px;left:1022px;background-color:black;opacity:0.5;}
#div3Malarickal_Village_Tourism{position:relative;left:1051px;bottom:1218px;color:white;font-size:23px}

#div3img5{position:relative;right:220px;bottom:914px;height:280px;width:320px;}
#div3tab6{border-style:none;position:relative;height:50px;width:320px;bottom:970px;left:46px;background-color:black;opacity:0.5;}
#div3Varkala_Beach{position:relative;left:135px;bottom:1269px;color:white;font-size:23px}

#div3img6{position:relative;left:226.5px;bottom:1250px;height:280px;width:320px;}
#div3tab7{border-style:none;position:relative;height:50px;width:319.5px;bottom:1306px;left:370.5px;background-color:black;opacity:0.5;}
#div3Wayanad_Hills{position:relative;left:460px;bottom:1607px;color:white;font-size:23px}

#div3img7{position:relative;left:553px;bottom:1586px;height:280px;width:320px;}
#div3tab8{border-style:none;position:relative;height:50px;width:320.2px;bottom:1642px;left:696.5px;background-color:black;opacity:0.5;}
#div3Alappuzha_Boat_House{position:relative;left:743px;bottom:1943px;color:white;font-size:23px}

#div3img8{position:relative;left:798px;bottom:1922px;height:280px;width:320px;}
#div3tab9{border-style:none;position:relative;height:50px;width:320px;bottom:1978px;left:1022px;background-color:black;opacity:0.5;}
#div3Munnar{position:relative;left:1140px;bottom:2020px;color:white;font-size:23px}

#div3tab10{border-style:none;position:relative;height:55px;width:400px;bottom:1963px;left:493px;background-color:#1b2f5e;}
#div3_EXPLORE_OUR_DESTINATIONS{position:relative;left:24px;top:11px;color:white;font-size:23px;}
#div3_EXPLORE_OUR_DESTINATIONS_right_arrow{position:relative;height:24px;width:20px;left:29px;top:15px;}



#div4tab1{border-style:none;background-image:url("dark mountain-1.jpg");height:935px;width:100%;background-size:cover;background-attachment:fixed;}

#div4txt1_Things_to_do_in_Kerala{position:relative;left:500px;top:80px;font-size:35px;color:white;}


#div4tab2_parasailing{border-style:none;background-image:url("parasailing-wallpaper-4k.jpg");position:relative;left:70px;top:155px;
height:270px;width:400px;background-size:cover;}
#div4_line_1{border-style:none;height:50px;width:400px;background-color:black;position:relative;top:220px;opacity:0.5;}

#div4tab3_Hills_Ride{border-style:none;background-image:url("world-Mountain-bike-trails-4K-ultra-HD-Wallpaper.jpg");
position:relative;left:490px;bottom:115px;height:270px;width:400px;background-size:cover;}
#div4_line_2{border-style:none;height:50px;width:400px;background-color:black;position:relative;top:220px;opacity:0.6;}

#div4tab4_Scuba_Diving{border-style:none;background-image:url("wallpaper_background.jpg");
position:relative;left:910px;bottom:385px;height:270px;width:400px;background-size:cover;}
#div4_line_3{border-style:none;height:50px;width:400px;background-color:black;position:relative;top:220px;opacity:0.6;}

#div4tab5_Trekking{border-style:none;background-image:url("solo-trkking .jpg");
position:relative;left:70px;bottom:367px;height:270px;width:400px;background-size:cover;}
#div4_line_4{border-style:none;height:50px;width:400px;background-color:black;position:relative;top:220px;opacity:0.6;}

#div4tab6_Camping{border-style:none;background-image:url("nature-campfire-edit_1.jpg");
position:relative;left:490px;bottom:637px;height:270px;width:400px;background-size:cover;}
#div4_line_5{border-style:none;height:50px;width:400px;background-color:black;position:relative;top:220px;opacity:0.4;}

#div4tab7_Shopping{border-style:none;background-image:url("shopping-1.jpg");
position:relative;left:910px;bottom:907px;height:270px;width:400px;background-size:cover;}
#div4_line_6{border-style:none;height:50px;width:400px;background-color:black;position:relative;top:220px;opacity:0.6;}


#div4_txt_1_Parasailing{position:relative;left:217px;bottom:1235px;color:white;font-size:23px}
#div4_txt_2_Hills_Ride{position:relative;left:530px;bottom:1235px;color:white;font-size:23px}
#div4_txt_3_Scuba_Diving{position:relative;left:830px;bottom:1235px;color:white;font-size:23px}

#div4_txt_4_Trekking{position:relative;right:115px;bottom:947px;color:white;font-size:23px}
#div4_txt_5_Camping{position:relative;left:214px;bottom:947px;color:white;font-size:23px}
#div4_txt_6_Shopping{position:relative;left:530px;bottom:947px;color:white;font-size:23px}

#div4tab8_FIND_MORE_ACTIVITIES{border-style:none;position:relative;height:53px;width:327px;bottom:875px;left:525px;background-color:#1b2f5e;}
#div3txt7_FIND_MORE_ACTIVITIES{position:relative;left:22px;top:10px;color:white;font-size:23px;}
#div4img9_FIND_MORE_ACTIVITIES_right_arrow{position:relative;height:24px;width:20px;left:28px;top:14px;}


#div5tab1{border-style:none;height:590px;width:100%;background-color:#e8e7e1;}
#div5txt1_Whats_New{position:relative;top:60px;left:590px;font-size:40px;}
#div5_hrline{position:relative;top:110px;}

#div5tab2_list_1{border-style:none;position:relative;height:180px;width:490px;top:170px;left:170px;}
#div5txt2_list_1{position:relative;bottom:10px;right:15px;font-size:19px;}

#div5tab3_list_2{border-style:none;position:relative;height:120px;width:430px;bottom:26px;left:795px;}
#div5txt3_list_2{position:relative;bottom:10px;right:15px;font-size:19px;}

#div5tab4_More_News{border-style:none;position:relative;height:52px;width:210px;top:75px;left:590px;background-color:#1b2f5e;}
#div5txt4_More_News{position:relative;left:22px;top:10px;color:white;font-size:23px;}
#div5img1_right_Arrow{position:relative;height:24px;width:20px;left:28px;top:14px;}




#div6tab1{border-style:none;height:710px;width:100%;background-color:#e9eaf0;}
#div6txt1_whats_Happening{position:relative;left:560px;top:50px;font-size:35px;}

#div6tab2{border-style:none;position:relative;height:350px;width:330px;top:105px;left:24px;background-color:black;
border-bottom-style:solid;border-width:55px;border-color:white;}

#div6img1{height:350px;width:330px;}
#div6img1:hover{height:350px;width:330px;opacity:0.6;}

#div6txt2{position:relative;left:15px;top:14px;color:black;font-size:21px;}



#div6tab3{border-style:none;position:relative;height:350px;width:330px;bottom:300px;left:361px;background-color:black;
border-bottom-style:solid;border-width:55px;border-color:white;}

#div6img2{height:350px;width:330px;}
#div6img2:hover{height:350px;width:330px;opacity:0.6;}

#div6txt3{position:relative;left:57px;top:14px;color:black;font-size:21px;}



#div6tab4{border-style:none;position:relative;height:350px;width:330px;bottom:705px;left:698px;background-color:black;
border-bottom-style:solid;border-width:55px;border-color:white;}

#div6img3{height:350px;width:330px;}
#div6img3:hover{height:350px;width:330px;opacity:0.6;}

#div6txt4{position:relative;left:80px;top:14px;color:black;font-size:21px;}



#div6tab5{border-style:none;position:relative;height:350px;width:330px;bottom:1110px;left:1035px;background-color:black;
border-bottom-style:solid;border-width:55px;border-color:white;}

#div6img4{height:350px;width:330px;}
#div6img4:hover{height:350px;width:330px;opacity:0.6;}

#div6txt5{position:relative;left:85px;top:14px;color:black;font-size:21px;}






#div6tab6_left_arrow{border-style:none;position:relative;height:100px;width:50px;bottom:1375px;left:25px;}

#div6_left_arrow_img_5{height:85px;width:40px;opacity:0.6;}
#div6_left_arrow_img_5:hover{opacity:1;height:85px;width:40px;}

#div6tab7_right_arrow{border-style:none;position:relative;height:100px;width:50px;bottom:1480px;left:1325px;}

#div6_right_arrow_img_6{height:85px;width:40px;opacity:0.6;}
#div6_right_arrow_img_6:hover{opacity:1;height:85px;width:40px;}


#div6tab8{border-style:none;position:relative;height:52px;width:385px;bottom:1255px;left:500px;background-color:#1b2f5e;}

#div6txt6_MORE_FESTIVALS_EVENTS{position:relative;left:23px;top:6px;color:white;font-size:23px;}
#div6_img7_right_arrow{position:relative;height:27px;width:20px;top:12px;left:30px;}


#div7tab1_length_img{border-style:none;background-image:url("533084-Sebastiaan_de_With-dark-spooky-road-forest-500px-sign.jpg");
height:740px;width:100%;background-size:cover;}


#div7tab2{border-style:groove;position:relative;left:455px;top:300px;width:450px;height:65px;background-color:black;opacity:0.4;border-size:10px;
border-color:white;}
#div7tab2:hover{width:450px;height:65px;opacity:1;}


#div7txt1_EXPLORE_OUR_VIDEOS{position:relative;left:25px;top:10px;color:white;font-size:35px;}
#div7txt2{position:relative;left:370px;top:325px;color:white;font-size:24px;}


#div8tab1{border-style:none;height:983px;width:100%;background-color:#e9eaf0;}
#div8txt1_Tour_Packages{position:relative;left:580px;top:55px;font-size:35px;}

#div8tab2_txt2{position:relative;left:170px;top:112px;font-size:24px;}
#div8tab2_txt3{position:relative;right:375px;top:140px;font-size:24px;}


#div8tab3_img1{position:relative;border-style:none;background-image:url("entire-kerala.jpg");height:290px;width:430px;background-size:cover;
left:42.5px;top:191.5px;background-color:black;}

#div8tab3_img1_hover{opacity:1;}
#div8tab3_img1:hover #div8tab3_img1_hover{height:290px;width:430px;background-color:black;opacity:0.4;}

#div8txt4_img_1_Entir_Kerala{position:relative;left:76px;bottom:65px;font-size:21px;color:white;}
#div8txt5_img_1{position:relative;right:51px;bottom:38px;font-size:20px;color:white;}
#div8tab4_img_1{border-style:none;position:relative;left:263px;top:102px;height:38px;width:180px;background-color:#bd0808;}
#div8INR_1{position:relative;left:10px;top:8px;font-size:18px;color:white;}



#div8tab5_img2{position:relative;border-style:none;background-image:url("central-kerala.jpg");height:290px;width:430px;background-size:cover;
left:476px;bottom:160px;background-color:black;}

#div8tab5_img2_hover{opacity:1;}
#div8tab5_img2:hover #div8tab5_img2_hover{height:290px;width:430px;background-color:black;opacity:0.4;}

#div8txt6_img_2_central_Kerala{position:relative;left:512px;bottom:415px;font-size:21px;color:white;}
#div8txt7_img_2{position:relative;left:374px;bottom:388px;font-size:20px;color:white;}
#div8tab6_img_2{border-style:none;position:relative;left:695px;bottom:255px;height:38px;width:180px;background-color:#bd0808;}
#div8INR_2{position:relative;left:11px;top:8px;font-size:18px;color:white;}



#div8tab7_img3{position:relative;border-style:none;background-image:url("backwater.jpg");height:290px;width:430px;background-size:cover;
left:910px;bottom:511.5px;background-color:black;}

#div8tab7_img3_hover{opacity:1;}
#div8tab7_img3:hover #div8tab7_img3_hover{height:290px;width:430px;background-color:black;opacity:0.4;}

#div8txt8_img_3_Backwater{position:relative;left:945px;bottom:769px;font-size:21px;color:white;}
#div8txt9_img_3{position:relative;left:845px;bottom:741px;font-size:20px;color:white;}
#div8tab8_img_3{border-style:none;position:relative;left:1125px;bottom:604px;height:38px;width:180px;background-color:#bd0808;}
#div8INR_3{position:relative;left:15px;top:8px;font-size:18px;color:white;}



#div8tab9_img4{position:relative;border-style:none;background-image:url("south-kerala.jpg");height:290px;width:430px;background-size:cover;
left:42.5px;bottom:570.5px;background-color:black;}

#div8tab9_img4_hover{opacity:1;}
#div8tab9_img4:hover #div8tab9_img4_hover{height:290px;width:430px;background-color:black;opacity:0.4;}

#div8txt10_img_4_South_kerala{position:relative;left:80px;bottom:828px;font-size:21px;color:white;}
#div8txt11_img_4{position:relative;right:38px;bottom:802px;font-size:20px;color:white;}
#div8tab10_img_4{border-style:none;position:relative;left:260px;bottom:660px;height:38px;width:180px;background-color:#bd0808;}
#div8INR_4{position:relative;left:10px;top:8px;font-size:18px;color:white;}



#div8tab11_img5{position:relative;border-style:none;background-image:url("hill-station.jpg");height:290px;width:430px;background-size:cover;
left:476px;bottom:922.3px;background-color:black;}

#div8tab11_img5_hover{opacity:1;}
#div8tab11_img5:hover #div8tab11_img5_hover{height:290px;width:430px;background-color:black;opacity:0.4;}

#div8txt12_img_5_Hill_Station{position:relative;left:510px;bottom:1180px;font-size:21px;color:white;}
#div8txt13_img_5{position:relative;left:403px;bottom:1152px;font-size:20px;color:white;}
#div8tab12_img_5{border-style:none;position:relative;left:695px;bottom:1012px;height:38px;width:180px;background-color:#bd0808;}
#div8INR_5{position:relative;left:14px;top:8px;font-size:18px;color:white;}



#div8tab13_img6{position:relative;border-style:none;background-image:url("honeymoon.jpg");height:290px;width:430px;background-size:cover;
left:910px;bottom:1274px;background-color:black;}

#div8tab13_img6_hover{opacity:1;}
#div8tab13_img6:hover #div8tab13_img6_hover{height:290px;width:430px;background-color:black;opacity:0.4;}

#div8txt14_img_6_Honeymoon{position:relative;left:950px;bottom:1527px;font-size:21px;color:white;}
#div8txt15_img_6{position:relative;left:838px;bottom:1500px;font-size:20px;color:white;}
#div8tab14_img_6{border-style:none;position:relative;left:1127px;bottom:1365px;height:38px;width:180px;background-color:#bd0808;}
#div8INR_6{position:relative;left:15px;top:8px;font-size:18px;color:white;}


#div8tab15{border-style:none;position:relative;height:52px;width:325px;bottom:1280px;left:533px;background-color:#1b2f5e;}
#div8txt16_FIND_MORE_PACKAGES{position:relative;left:23px;top:6px;color:white;font-size:23px;}
#div8_img7_right_arrow{position:relative;height:27px;width:20px;top:12px;left:30px;}






#div9tab1{border-style:none;height:705px;width:100%;background-color:#edf0ef;}


#div9txt1_Plan_Your_Trip{position:relative;left:580px;top:55px;font-size:35px;}


#div9tab2_where_to_stay{border-style:none;position:relative;height:200px;width:200px;top:130px;left:110px;}
#div9img1{position:relative;left:5px;top:10px;height:130px;width:150px;}
#div9txt2_where_to_stay{position:relative;left:15px;top:35px;font-size:22px;}


#div9tab3_E_Brochures{border-style:none;position:relative;height:200px;width:200px;bottom:74px;left:315px;}
#div9img2{position:relative;left:5px;top:10px;height:130px;width:150px;}
#div9txt3_E_Brochures{position:relative;left:20px;top:35px;font-size:22px;}


#div9tab4_Visa_on_Arrival{border-style:none;position:relative;height:200px;width:200px;bottom:278px;left:520px;}
#div9img3{position:relative;left:5px;top:10px;height:130px;width:150px;}
#div9txt4_Visa_on_Arrival{position:relative;left:7px;top:35px;font-size:22px;}


#div9tab5_Travel_info{border-style:none;position:relative;height:200px;width:200px;bottom:483px;left:720px;}
#div9img4{position:relative;left:5px;top:10px;height:130px;width:150px;}
#div9txt5_Travel_info{position:relative;left:33px;top:35px;font-size:22px;}

#div9tab6_Travel_Care{border-style:none;position:relative;height:200px;width:200px;bottom:687px;left:920px;}
#div9img5{position:relative;left:5px;top:10px;height:130px;width:150px;}
#div9txt6_Travel_Care{position:relative;left:25px;top:35px;font-size:22px;}


#div9tab7_E_Newsletter{border-style:none;position:relative;height:200px;width:200px;bottom:892px;left:1125px;}
#div9img6{position:relative;left:5px;top:10px;height:130px;width:150px;}
#div9txt7_E_Newsletter{position:relative;left:22px;top:35px;font-size:22px;}



#div9tab8{border-style:none;position:relative;height:160px;width:925px;bottom:770px;left:230px;background-color:#d5ddf0;}

#div9txt8{position:relative;top:44px;left:110px;font-size:22px;color:#170063;}
#div9txt9{position:relative;top:67px;right:11px;font-size:22px;color:#170063;}

#div9input1{position:relative;height:55px;width:390px;top:52px;left:60px;border-style:groove;border-color:white;}

#div9tab9{border-style:none;position:relative;height:55px;width:156px;bottom:3px;left:725px;background-color:#3ec94f;}
#div9img7_search_icon{position:relative;left:13px;top:15px;height:21px;width:33px;}
#div9txt10_Search{position:relative;top:11px;left:18px;font-size:20px;}



#div10tab1{border-style:none;height:1100px;width:100%;background-color:white;}

#div10_Connect_with_us{position:relative;bottom:30px;left:570px;font-size:35px;}

#div10img1_youtube{position:relative;top:160px;right:7px;height:95px;width:100px;}
#div10img2_facebook{position:relative;top:170px;left:5px;height:120px;width:125px;}
#div10img3_twitter{position:relative;top:170px;left:10px;height:122px;width:127px;}
#div10img4_instagram{position:relative;top:160px;left:5px;height:106px;width:141px;}
#div10img5_whatsapp{position:relative;top:152px;left:15px;height:95px;width:100px;}
#div10img6_pinterest{position:relative;top:152px;left:45px;height:95px;width:100px;}
#div10img7_linkedin{position:relative;top:160px;left:70px;height:110px;width:111px;}

#div10_long_txt{position:relative;top:210px;left:238px;font-size:25px;}
#div10_hrline_1{position:relative;top:235px;}




#div10tab2_top_fb{border-style:solid;position:relative;height:85px;width:370px;top:290px;left:490px;background-color:white;border-width:0.1px;
border-color:silver;}

#div10img8_kl_logo_1{position:relative;height:50px;width:60px;top:15px;left:10px;}
#div10txt1_Kerala_Tourism{position:relative;bottom:19px;left:12px;font-size:24px;}
#div10img9_tick_1{position:relative;height:25px;width:25px;bottom:12px;left:14px;}

#div10tab3_Like_page{border-style:solid;position:relative;height:27px;width:117px;bottom:15px;left:77px;background-color:#e8eaed;border-color:silver;
border-width:0.1px;}
#div10img10_small_fb{position:relative;height:17px;width:25px;top:5px;left:5px;}
#div10txt2_like_page{position:relative;bottom:-2px;left:6px;font-size:17px;}
#div10txt3_liks{position:relative;bottom:38px;left:205px;font-size:17px;}






#div10tab4_fb_long_div{position:relative;height:480px;width:372px;top:290px;left:490px;background-color:#e8eaed;overflow:auto;
border-bottom-style:solid;border-width:0.1px;border-color:silver;}


#div10tab5_fb_inline_div_1{border-style:none;position:relative;height:530px;width:329px;top:10px;left:12px;background-color:white;
border-radius:0px 0px 6px 6px;}
#div10_inline_fb_img_1{height:200px;width:329px;}


#div10_fb_inline_div_circle_1{border-style:solid;position:relative;height:50px;width:60px;top:10px;left:10px;border-radius:50%;border-color:silver;
border-width:0.1px;}
#div10_inline_circle_img_1{height:34px;width:44px;position:relative;top:7px;left:7px;}

#div10txt4_kl_t{position:relative;bottom:58px;left:81px;font-size:17px;}
#div10txt4_8_hrs{position:relative;bottom:40px;right:33px;color:grey;font-size:15px;}

#div10img_2_fb_round_logo_1{position:relative;height:38px;width:43px;bottom:40px;left:80px;}
#div10img_3_fb_tick_logo_2{position:relative;height:22px;width:22px;bottom:52px;right:36px;}

#div10_txt5_paragraph_1{position:relative;bottom:15px;left:15px;display:block;font-size:18px;width:310px;height:140px;}
#div10_hr_inline_1{position:relative;bottom:110px;}


#div10img_4_fb_like_logo_1{position:relative;height:25px;width:25px;bottom:113px;left:15px;}
#div10txt6_fb_like_1{position:relative;bottom:117px;left:20px;font-size:18px;}

#div10img_5_fb_comment_logo_1{position:relative;height:35px;width:35px;bottom:105px;left:30px;}
#div10txt7_fb_commant_1{position:relative;bottom:117px;left:27px;font-size:18px;}

#div10img_6_fb_share_logo_1{position:relative;height:24px;width:25px;bottom:109px;left:45px;}
#div10txt8_fb_share_1{position:relative;bottom:118px;left:50px;font-size:18px;}


#div10tab6_fb_inline_div_2{border-style:none;position:relative;height:685px;width:329px;top:20px;left:12px;background-color:white;
border-radius:0px 0px 6px 6px;}
#div10_inline_fb_img_2{height:250px;width:329px;}

#div10_fb_inline_div_circle_2{border-style:solid;position:relative;height:50px;width:60px;top:12px;left:10px;border-radius:50%;border-color:silver;
border-width:0.1px;}
#div10_inline_circle_img_2{height:34px;width:44px;position:relative;top:7px;left:7px;}

#div10txt9_kl_t{position:relative;bottom:55px;left:81px;font-size:17px;}
#div10txt10_on_Thursday{position:relative;bottom:37px;right:33px;color:grey;font-size:15px;}

#div10_fb_round_logo_2{position:relative;height:38px;width:43px;bottom:40px;left:80px;}
#div10_fb_tick_logo_3{position:relative;height:22px;width:22px;bottom:48px;right:40px;}

#div10_txt11_paragraph_2{position:relative;bottom:15px;left:15px;display:block;font-size:18px;width:310px;height:245px;}
#div10_txt12_paragraph_2{position:relative;bottom:15px;left:15px;font-size:18px;}

#div10_hr_inline_2{position:relative;bottom:10px;}


#div10img_7_fb_like_logo_2{position:relative;height:25px;width:25px;bottom:15px;left:15px;}
#div10txt13_fb_like_2{position:relative;bottom:19px;left:20px;font-size:18px;}

#div10img_8_fb_comment_logo_2{position:relative;height:35px;width:35px;bottom:7px;left:30px;}
#div10txt14_fb_commant_2{position:relative;bottom:19px;left:27px;font-size:18px;}

#div10img_9_fb_share_logo_2{position:relative;height:24px;width:25px;bottom:12px;left:45px;}
#div10txt15_fb_share_2{position:relative;bottom:20px;left:50px;font-size:18px;}



#div11tab1{border-style:none;height:600px;width:100%;background-color:#e3e7f1;}

#div11tab2_Exlore_list{border-style:none;height:250px;width:250px;position:relative;top:30px;left:50px}

#div11txt_Explore{font-size:28px;color:#28497c;}
#div11txt_Explore_datas{font-size:18px;color:#5f6163;line-height:27px;}
 

#div11tab3_Travel_Hub_list{border-style:none;height:250px;width:250px;position:relative;bottom:235px;left:300px}

#div11tab3_Nature_list{border-style:none;height:250px;width:250px;position:relative;bottom:500px;left:525px}

#div11tab3_Places_list{border-style:none;height:250px;width:250px;position:relative;bottom:767px;left:710px}

#div11tab3_Specialities_list{border-style:none;height:250px;width:250px;position:relative;bottom:1033px;left:885px}

#div11tab3_Videos_Photos{border-style:none;height:250px;width:250px;position:relative;bottom:1298px;left:1090px}

#div11_hr_line_1{position:relative;bottom:1327px;}


#div11tab_4_Subscribe{border-style:none;position:relative;bottom:1300px;left:285px;height:100px;width:410px;}

#div11txt1_Subscribe_Our_Newsletter{position:relative;top:5px;left:5px;font-size:28px;color:#28497c;}
#div11txt2_Small_txt{position:relative;top:12px;right:35px;font-size:18px;color:#5f6163;display:inline-block;}


#div11tab_5_input{border-style:none;position:relative;bottom:1305px;left:190px;height:80px;width:410px;}
#div11_input_1{border-style:groove;position:relative;height:55px;width:350px;top:5px;left:5px;border-color:white;}

#div11_tab6_box{border-style:none;position:relative;bottom:1380px;left:544px;height:55px;width:140px;background-color:#241d52;}
#div11_text3_SUBSCRIBE{position:relative;top:15px;left:16px;font-size:19px;color:white;}


#div11_tab7{border-style:none;position:relative;height:75px;width:470px;bottom:1450px;left:770px;}

#div11_text4{position:relative;top:5px;left:5px;font-size:18px;color:#5f6163;}
#div11_text5{position:relative;top:10px;left:85px;font-size:26px;}


#div11_hr_line_2{position:relative;bottom:1425px;}

#div11_tab_8_Recruitments_box{border-style:ridge;position:relative;height:51px;width:230px;bottom:1406px;left:580px;background-color:#a82222;
border-color:#a82222;}
#div11_text6_Recruitments_box{position:relative;top:11px;left:19px;font-size:25px;color:white;}
#div11_tab_8_Recruitments_box:hover{background-color:#2a485c;border-color:#2a485c;}



#div12tab1{border-style:none;height:400px;width:100%;background-color:white;}



#div12_img_2_KTDC{position:relative;top:36px;left:130px;height:96px;width:100px;}
#div12_img_3_TEPS{position:relative;top:36px;left:170px;height:80px;width:100px;}

#div12_img_4_BRDC{position:relative;top:17px;left:220px;height:60px;width:90px;}

#div12_img_5_Sargaalaya{position:relative;top:30px;left:260px;height:75px;width:115px;}

#div12_img_6_SIHM-K{position:relative;top:8px;left:290px;height:65px;width:120px;}

#div12_img_8_KATPS{position:relative;top:31px;left:313px;height:100px;width:130px;}

#div12_img_10_Nidhi{position:relative;top:27px;left:342px;height:79px;width:105px;}
#div12_img_11_Sahapedia{position:relative;top:20px;left:375px;height:70px;width:90px;}


#div12tab2{border-style:none;position:relative;top:90px;left:195px;height:190px;width:1000px;}

#div12_insidetxt_1_line_1{position:relative;top:6px;left:290px;font-size:18px;color:#5f6163;}
#div12_insidetxt_2_line_1{font-size:26px;color:#28497c;}

#div12_insidetxt_1_line_2{position:relative;top:26px;left:55px;font-size:21px;color:#5f6163;display:inline-block;}

#div12_insidetxt_1_line_3{position:relative;top:35px;left:155px;font-size:21px;color:#5f6163;display:inline-block;}
#div12_insidetxt_2_line_3{color:#1f75ad;}

#div12_insidetxt_1_line_4{position:relative;top:45px;left:85px;font-size:21px;color:#5f6163;display:inline-block;}

#div12_insidetxt_last_line{position:relative;top:54px;left:348px;font-size:21px;color:#5f6163;display:inline-block;}




